#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 { margin: 0;
			color:darkgreen;
    		font-style:italic;
			 }

#navigation
{
	float: left;
	width: 100%;
	background: darkgreen;
}
/
#content-container
{
	float: left;
	width: 100%;
	background: #FFF url(layout-two-liquid-background.gif) repeat-y 68% 0;
}

#content
{
	clear: left;
	float: left;
	width: 60%;
	padding: 10px 0;
	margin: 0 0 0 4%;
	display: inline;
}
h3{
	color:lightGreen;
	font-size:1.5em;
	
}
h2{
	color:gray;
	font-style:italic;
	
}
h4{
	color:gray;
	font-style:italic;
	font-size:.8em;
}

#content h2 { margin: 0; 
			color:gray;
        	font-style:bold;
			}

#aside
{
	float: right;
	width: 26%;
	padding: 0px 0;
	margin: 0 3% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
