#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background:lightgray;
	padding: 20px;
}

#header h1 { margin: 0;
			color:black;
			text-align:center;
    		font-style:italic;
			font-size:2.5em;
			 }

#navigation
{
	float: left;
	width: 100%;
	padding:10px;
	background:gray;
}
/
#content-container
{
	float: left;
	width: 100%;
	background: #FFF url('layout-two-liquid-background.gif') repeat-y 68% 0;
}

#content
{
	clear: left;
	float: left;
	width: 60%;
	padding: 10px 0;
	margin: 0 0 0 4%;
	display: inline;
}
table {
		margin-left:0px;
		margin-right:auto;
		width:100%;
		text-align:right;
		vertical-align:bottom;
		
}
h3{
	color:lightgray;
	font-size:1.5em;
	
}
h2{
	color:darkgray;
	font-style:italic;
	font-size:.8em;
	margin-left:5%;
	
	
}
h4{
	color:gray;
	font-style:italic;
	font-size:.8em;
}

#content h2 { margin: 0; 
			color:gray;
        	font-style:bold;
			}


#aside
{
	float: right;
	background:gray;
	width: 26%;
	padding: 0px 0;
	margin: 0 3% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
